//FORM RESET

/* =============================================
   GENERELL
   ============================================= */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}


/* =============================================
   INPUTS
   ============================================= */

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"]	{


-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-background-clip: padding;
-moz-background-clip: padding;
background-clip:padding-box;
-webkit-appearance:none;
outline:0;
text-align: left;
vertical-align: middle;
}

input	{
	-webkit-box-sizing: border-box !important;
	outline: none;
	border: none;
	font: inherit !important;
	letter-spacing: inherit !important;
	word-spacing: inherit !important;
	text-transform: inherit !important;
	text-indent: inherit !important;
	text-shadow: inherit !important;
/*	display: inherit !important; */
	padding: 0px;
	text-align: inherit !important;
	cursor: auto;
	-moz-use-text-color: inherit !important;
	-webkit-text-fill-color: inherit !important;
/*
	border-bottom-left-radius: inherit !important;
	border-bottom-right-radius: inherit !important;
	border-top-left-radius: inherit !important;
	border-top-right-radius: inherit !important;
*/
	&.error	{
		background: red;
	}
}

input[type="date"]	{
	align-items: center;
	display: block;
	font-family: inherit;
	overflow: hidden;
	-webkit-padding-start: 0px;
	-webkit-user-select: date !important;
}


input[type="file"]::-webkit-file-upload-button,
input[type="file"]	{
	margin: 0;
}


input[type="checkbox"]	{
}

input[type="color"]	{
}

input[type="hidden"]	{
}

input[type="image"]	{
}

input[type="radio"]	{
}

input[type="range"]	{
}

input[type="reset"]	{

}


input[type="submit"]	{

}

button	{
}


select	{
background:#fff url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
background-repeat: no-repeat;
background-position: 97% center;
padding:0 25px 0 8px;
font-size: .875em
}




textarea	{
	color: inherit !important;
	font: inherit !important;
	outline: none;
	border: none;
	-moz-use-text-color: inherit !important;
    margin: 0;
    padding: 0;
    display: block;
}



/* =============================================
   BUTTONS
   ============================================= */


button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border:0;
	padding:0;
	margin:0;
}

input[type="button"],
input[type="submit"],
button	{
	appearance: none;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	border: none;
	padding: 0;
}




/* =============================================
   CHECKBOX
   ============================================= */

